<main>

    <div class='p-5 mb-4 bg-light rounded-3'>

        <div class='container-sm py-5'>

            <div class='rounded'>
                {{#if error}}
                    <div class='alert alert-danger' role='alert'>
                        {{error}}
                    </div>
                {{/if}}
                <h1>Bem vindo!</h1>
                <div class='p-5 pb-4 border-bottom-0'>
                    <h1 class='fw-bold mb-0 fs-2'>Entrar no sistema Escolar</h1>

                </div>

                <div class='p-5 pt-0'>
                    <form class='' action='/professor/login' method='POST'>
                        <div class='form-floating mb-3'>
                            <input
                                type='email'
                                class='form-control rounded-3'
                                id='floatingInput'
                                name='email'
                                placeholder='name@example.com'
                            />
                            <label for='floatingInput'>Endereço de email</label>
                        </div>
                        <div class='form-floating mb-3'>
                            <input
                                type='password'
                                name='password'
                                class='form-control rounded-3'
                                id='floatingPassword'
                                placeholder='Password'
                            />
                            <label for='floatingPassword'>Senha</label>
                        </div>
                        <button
                            class='w-100 mb-2 btn btn-lg rounded-3 btn-primary'
                            type='submit'
                        >Entrar</button>

                        <small class='text-body-secondary'>By clicking Sign up,
                            you agree to the terms of use.</small>
                    </form>
                    <hr class='my-4' />
                    <form class='' action='/professor/create' method='POST'>
                        <h2 class='fs-5 fw-bold mb-3'>Cadastrar</h2>
                        <div class='form-floating mb-3'>
                            <input
                                type='input'
                                class='form-control rounded-3'
                                id='floatingInput'
                                name='nome'
                                placeholder='Seu nome'
                            />
                            <label for='floatingInput'>Nome </label>
                        </div>
                        <div class='form-floating mb-3'>
                            <input
                                type='email'
                                class='form-control rounded-3'
                                id='floatingInput'
                                name='email'
                                placeholder='name@example.com'
                            />
                            <label for='floatingInput'>Endereço de email</label>
                        </div>
                        <div class='form-floating mb-3'>
                            <input
                                type='password'
                                name='password'
                                class='form-control rounded-3'
                                id='floatingPassword'
                                placeholder='Password'
                            />
                            <label for='floatingPassword'>Senha</label>
                        </div>
                        <button
                            class='w-100 mb-2 btn btn-lg rounded-3 btn-primary'
                            type='submit'
                        >Cadastrar</button>

                    </form>
                </div>
            </div>
        </div>

    </div>

</main>